@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500&family=Markazi+Text:wght@500&display=swap');

* {
    box-sizing: border-box;
}

button:hover {
    color: #F4CE14;
    background-color: #495E57;
    border: 2px solid #F4CE14;
    cursor: pointer;
    border-radius: 16px;
}

button:active {
    box-shadow: 5px 5px #888888;;
}

@media (min-width: 768px) {

.hero {
        background-color: #495E57;
}

.hero-section {
    margin: 15px 11%;
    width: 70%;
    height: 52vh;

    display: inline-grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 0.8fr;
    grid-template-rows: auto;
    grid-template-areas: 
    " titles       titles        titles         titles       image "
    " description  description   description    description  image "
    " button        button        button        button       image "
}

.titles {
    margin-top: 15px;
    margin-left: 93px;
    grid-area: titles;
}

.title {
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    color: #F4CE14;
}

.sub-title-hero {
    font-family: 'Karla';
    font-size: 53px;
    color: #FFFFFF;
}

.hero-description {
    margin: 15px 93px 0px 93px;
    font-family: 'Karla';
    font-size: 21px;
    color: #FFFFFF;
    line-height: 1.5em;

    grid-area: description;
}

.reserve-link {
    align-self: flex-start;
    grid-area: button;
}

.yellow {
    height: 40px;
    width: 200px;
    margin-top: 15px;
    margin-left: 93px;
    border-radius: 16px;
    font-family: 'Karla';
    font-size: 21px;
    font-weight: bold;
    background-color: #F4CE14;
    border: 1px solid #F4CE14;
    color: #000000;
}
.hero-image {
    max-height: 360px;
    max-width: 380px;
    min-width: auto;
    min-height: auto;
    border-radius: 16px;
    place-self: start;
    grid-area: image;
}

}

/* Mobile Design */
@media (min-width: 0px) and (max-width: 767px) {
    .hero {
        background-color: #495E57;
    }

    .hero-section {
        padding: 15px 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
    .titles {
        font-family: 'Markazi Text';
        align-self: flex-start;
    }
    .title {
        font-size: 53px;
        color: #F4CE14;
    }
    .sub-title-hero {
        font-size: 40px;
        color: #FFFFFF;
    }
    .hero-description {
        width: 50%;
        font-family: 'Karla';
        font-size: 16px;
        color: #FFFFFF;
    }

    .yellow {
        height: 35px;
        width: 150px;
        border-radius: 16px;
        font-family: 'Karla';
        font-size: 16px;
        font-weight: bold;
        background-color: #F4CE14;
        border: 1px solid #F4CE14;
        color: #000000;
        margin-bottom: 10px;
    }
    .hero-image {
        max-height: 260px;
        max-width: 280px;
        min-width: auto;
        min-height: auto;
        border-radius: 16px;
        margin-top: 10px;
        margin-left: 40px;
    }
}