@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500&family=Markazi+Text:wght@500&display=swap');

.testimonials {
    background-color: #495E57;
    height: 85vh;
    text-align: center;
    padding: 100px;
}


.sub-title-hero {
    font-weight: bold;
    font-style: 'Markazi Text';
}

.container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.review {
    background-color: #EDEFEE;
    width: 200px;
    height: auto;
    margin: 0 20px;
    padding: 20px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.rating-title {
    font-weight: bold;
    font-size: 16px;
    font-style: 'Markazi Text';
    margin-bottom: 10px;
}

.person-review {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.rating-image {
    max-width: 55px;
    max-height: 59px;
    padding-right: 10px;
}

.name {
    font-weight: bold;

}

.opinion {
    font-size: 16px;
    font-family: 'Karla';
    text-align: left;
}