@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500&family=Markazi+Text:wght@500&display=swap');

* {
    box-sizing: border-box;
}


@media (min-width: 768px) {
.highlights {
    margin-top: 80px;
    height: 100vh;
}

.order-delivery {
    display: none;
}

.cards {
    display: inline-grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 0.8fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". sub-title sub-title button ."
    ".    nr1       nr2     nr3   ."
}

.nr1 {
    grid-area: nr1;
}

.nr2 {
    grid-area: nr2;
}

.nr3 {
    grid-area: nr3;
}



.card {
    background-color: #EDEFEE;
    border-radius: 16px;
    margin: 70px 35px 10px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    justify-content: center;
    align-self: stretch;
}

.sub-title {
    font-family: 'Markazi Text';
    font-size: 53px;
    color: #000000;

    grid-area: sub-title;
}

.money {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 20px 0;
}

.yellow-menu {
    height: 60px;
    width: 200px;
    margin-left: 93px;
    border-radius: 16px;
    font-family: 'Karla';
    font-size: 21px;
    font-weight: bold;
    background-color: #F4CE14;
    border: 1px solid #F4CE14;
    color: #000000;

    grid-area: button;
}

.card-title {
    font-size: 24px;
    font-family: 'Markazi Text';
    font-weight: bold;
}

.price {
    font-family: 'Karla';
    font-size: 21px;
    color: #EE9722;
    align-self: end;
}

.card-description {
    font-family: 'Karla';
    font-size: 16px;
    line-height: 1.5em;
    margin: 0 20px 20px 20px;
}

.order-button {
    margin: 0 0 30px 20px;
    background-color: transparent;
    border: transparent;
    font-family: 'Karla';
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
}

.icon {
    height: 20px;
    width: 20px;
}

}

@media (min-width: 0px) and (max-width: 767px) {
    .highlights {
        margin: 30px 0px;
        height: auto;
    }
    .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0px 10px;
    }
    .sub-title {
        display: none;
    }
    .yellow-menu {
        display: none;
    }
    .order-delivery {
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
    }
    .order-title {
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Karla';
        font-size: 20px;
        margin: 0px 0px 2px 5px;
    }
    .order-menu {
        display: inline-block;
    }
    .order-menu ul {
        display: flex;
        margin: 10px 0px 0px 0px;
    }
    .order-menu li {
        font-size: 16px;
        font-family: 'Karla';
        font-weight: bold;
        margin: 0 3px;
        padding: 8px 4px 8px 4px;
        background-color: #EDEFEE;
        border-radius: 16px;
    }
    .card {
        background-color: #EDEFEE;
        height: 200px;
        width: auto;
        border-radius: 16px;
        margin: 30px 10px 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .image {
        align-self: flex-end;
        max-height: 120px;
        max-width: 140px;
        min-width: auto;
        min-height: auto;
        border-radius: 16px;
        border: 1px solid #000000;
    }
    .money {
        justify-content: flex-end;
        align-content: space-around;
        margin: 30px 15px;
    }
    .card-title {
        font-size: 20px;
        font-family: 'Markazi Text';
        font-weight: bold;
        align-self: flex-start;
    }
    .price {
        font-family: 'Karla';
        font-size: 20px;
        color: #EE9722;
        align-self: end;
        text-decoration: underline 1px;
    }
    .card-description {
        font-family: 'Karla';
        font-size: 16px;
        line-height: 1em;
        margin: 10px 20px 20px 20px;
    }
    .order-button {
        display: none;
    }
}