* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla';
}


.nav-menu {
    background-color: #FFFFFF;
    height: 12vh;
    display: inline-grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". logo nav nav ."
}

.navigation {
    grid-area: nav;
    align-items: flex-end;
}

.navigation li  {
    display: inline-grid;
    margin: 24px;
    font-family: 'Karla';

}

.navigation li a {
    color: #000000;
    text-decoration: none;
}

.logo {
    margin-top: 15px;
    grid-area: logo;
    width: 148px;
    height: auto;
}