* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla';
}

@media (min-width: 768px) {
.nav-menu {
    background-color: #FFFFFF;
    height: 12vh;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 0.8fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". logo nav nav ."
}

.navigation {
    grid-area: nav;
    align-items: flex-end;
}

.navigation li  {
    display: inline-grid;
    margin: 24px;
    font-family: 'Karla';

}

.navigation li a {
    color: #000000;
    text-decoration: none;
}

.logo-main {
    margin-top: 15px;
    grid-area: logo;
    width: 148px;
    height: auto;
}

.mobile-nav {
    display: none;
}

}

/* Mobile design */

@media (min-width: 0px) and (max-width: 768px) {
    .nav-menu {
        height: 7vh;
    }
    .logo-main {
        display: none;
    }

    .logo {
        max-height: 30px;
        max-width: 150px;
        margin-top: 15px;
    }
    .mobile-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mobile-options li {
        display: inline-block;
        margin: 0 24px;
        padding-top: 12px;
    }
    .navigation {
        visibility: hidden;
    }
}
